.container{
    height: 100vh;
    background-image: url("../../../../public/images/Welcome-section-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.mainWrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
}
.rightColumn{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(35, 73, 66, 0.3);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 41% 100%);
}
.leftColumn{
    width: 50%;
    height: 100%;
}
.welcomeTitleBlock{
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 50px;
    color: rgb(241, 248, 232);
    display: inline-block;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 1s forwards;
}

.title:nth-child(2) {
    animation-delay: 0.5s;
    margin-left:40px;
}

.title:nth-child(3) {
    animation-delay: 1s;
    margin-left:100px;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

